# TWAK API — get from https://portal.trustwallet.com/dashboard/apps
TW_ACCESS_ID=your_twak_access_id
TW_HMAC_SECRET=your_t...n

# Wallet
WALLET_ADDRESS=0xYourWalletAddress

# CMC — get from https://coinmarketcap.com/api/
CMC_API_KEY=your_c...n

# RPC
BSC_RPC_URL=https://bsc-dataseed.binance.org
ALCHEMY_API_KEY=your_a...n

# TWAK Wallet
